[submodule "src/stacks/go"]
	path = src/stacks/go
	url = https://github.com/mrmihi/go-template.git
[submodule "src/stacks/express"]
	path = src/stacks/express
	url = https://github.com/mrmihi/express-template.git
